<!--Footer-->
<footer class="site-footer style-2" id="footer">
	<div class="footer-bg-wrapper" id="app-banner">
		<div class="footer-top">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-xl-4 col-lg-4 m-lg-0 m-b20 wow fadeInUp" data-wow-delay="0.4s">
						<div class="footer-logo">
							<a href="@Url.Action("Index","BLeaf")" class="logo-white">
								<img src="~/bleaf/images/logo-white.png" alt="/" class="responsive-img" style="max-height: 54px">
							</a>
						</div>
						<p class="text-white mb-0 font-14">Join us and embark on flavorful journey!.</p>
					</div>
				</div>
				<div class="row" style="padding-top:20px">
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="widget widget_getintuch">
							<h5 class="footer-title">Contact</h5>
							<ul>
								<li>
									<i class="flaticon-placeholder"></i>
									<p>408, Hutt Road, Alicetown, Lower Hutt, New Zealand</p>
								</li>
								<li>
									<i class="flaticon-telephone"></i>
									<p>
									+22 522 0400
									</p>
								</li>
								<li>
									<i class="flaticon-email-1"></i>
									<p>
									bleafcaff@gmail.com
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
						<div class="widget widget_services">
							<h5 class="footer-title">Our Links</h5>
							<ul>
								<li><a href="@Url.Action("Index","BLeaf")"><span>Home</span></a></li>
								<li><a href="@Url.Action("AboutUs","BLeaf")"><span>About Us</span></a></li>
								<li><a href="@Url.Action("Services","BLeaf")"><span>Services</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="widget widget_services">
							<h5 class="footer-title">OUR SERVICES</h5>
							<ul>
								<li><a href="@Url.Action("Services","BLeaf")"><span>Fast Delivery</span></a></li>
								<li><a href="@Url.Action("ContactUs","BLeaf")"><span>Seat Reservation</span></a></li>
								<li><a href="@Url.Action("OurMenu3","BLeaf")"><span>Our Menu</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6	">
						<div class="widget widget_services">
							<h5 class="footer-title">Help Center</h5>
							<ul>
								<li><a href="@Url.Action("FAQ","BLeaf")"><span>FAQ</span></a></li>
								<li><a href="@Url.Action("ContactUs","BLeaf")"><span>Contact Us</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom Part -->
	<div class="container">
		<div class="footer-bottom">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
                        <span class="copyright-text">
                         B'Leaf@2024 Created by KSCreations
                        </span>
                    </div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->

<div class="scroltop-progress scroltop-primary">
	<svg width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
	</svg>
</div>