<!--Footer-->
<footer class="site-footer style-2" id="footer">
	<div class="footer-bg-wrapper" id="app-banner">
		<div class="footer-top">
			<div class="container">
				<div class="footer-subscribe-wrapper">
					<div class="wrapper-inner">
						<div class="row justify-content-between">
							<div class="col-xl-4 col-lg-4 m-lg-0 m-b20 wow fadeInUp" data-wow-delay="0.4s">
								<div class="footer-logo">
									<a href="@Url.Action("Index","BLeaf")" class="logo-white">
										<img src="~/bleaf/images/logo-white.png" alt="/">
									</a>
								</div>
								<p class="text-white mb-0 font-14">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
							<div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
								<h4 class="text-white title m-b15">Subscribe To Our Newsletter</h4>
								<form class="dzSubscribe" method="post">
									<div class="dzSubscribeMsg text-white"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" type="text" class="form-control" placeholder="Enter Your Email">
										<div class="input-group-addon">
											<button name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-2">
												<span>Subscribe</span><i class="fa-solid fa-paper-plane"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="widget widget_getintuch">
							<h5 class="footer-title">Contact</h5>
							<ul>
								<li>
									<i class="flaticon-placeholder"></i>
									<p>1247/Plot No. 39, 15th Phase, Colony, Kkatpally, Hyderabad</p>
								</li>
								<li>
									<i class="flaticon-telephone"></i>
									<p>
										+91 987-654-3210<br>
										+91 123-456-7890
									</p>
								</li>
								<li>
									<i class="flaticon-email-1"></i>
									<p>
										info@example.com<br>
										info@example.com
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
						<div class="widget widget_services">
							<h5 class="footer-title">Our Links</h5>
							<ul>
								<li><a href="@Url.Action("Index","BLeaf")"><span>Home</span></a></li>
								<li><a href="@Url.Action("AboutUs","BLeaf")"><span>About Us</span></a></li>
								<li><a href="@Url.Action("Services","BLeaf")"><span>Services</span></a></li>
								<li><a href="@Url.Action("Team","BLeaf")"><span>Team</span></a></li>
								<li><a href="@Url.Action("BlogStandard","BLeaf")"><span>Blog</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="widget widget_services">
							<h5 class="footer-title">OUR SERVICES</h5>
							<ul>
								<li><a href="@Url.Action("BlogOpenGutenberg","BLeaf")"><span>Strategy & Research</span></a></li>
								<li><a href="@Url.Action("Services","BLeaf")"><span>Fast Delivery</span></a></li>
								<li><a href="@Url.Action("ContactUs","BLeaf")"><span>Seat Reservation</span></a></li>
								<li><a href="@Url.Action("ShopStyle1","BLeaf")"><span>Pickup In Store</span></a></li>
								<li><a href="@Url.Action("OurMenu1","BLeaf")"><span>Our Menu</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6	">
						<div class="widget widget_services">
							<h5 class="footer-title">Help Center</h5>
							<ul>
								<li><a href="@Url.Action("FAQ","BLeaf")"><span>FAQ</span></a></li>
								<li><a href="@Url.Action("ShopStyle1","BLeaf")"><span>Shop</span></a></li>
								<li><a href="@Url.Action("ShopStyle2","BLeaf")"><span>Category Filter</span></a></li>
								<li><a href="@Url.Action("Testmonial","BLeaf")"><span>Testimonials</span></a></li>
								<li><a href="@Url.Action("ContactUs","BLeaf")"><span>Contact Us</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom Part -->
	<div class="container">
		<div class="footer-bottom">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<span class="copyright-text">Crafted With <span class="heart"></span> by <a href="https://dexignzone.com/" target="_blank">DexignZone</a></span>
				</div>
				<div class="col-xl-6 col-lg-6">
					<ul class="footer-link">
						<li><a href="@Url.Action("BlogStandard","BLeaf")">Blog Detail</a></li>
						<li><a href="@Url.Action("AboutUs","BLeaf")">About</a></li>
						<li><a href="@Url.Action("Testmonial","BLeaf")">Testimonials</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->

<div class="scroltop-progress scroltop-primary">
	<svg width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
	</svg>
</div>