@{
	Layout = "~/Views/Shared/_LayoutBLeafAjax.cshtml";
}
<div class="col-lg-4 col-md-6">
	<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
		<div class="dz-media">
			<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic1.jpg" alt=""></a>
		</div>
		<div class="dz-info">
			<div class="dz-meta">
				<ul>
					<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
					<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K</a></li>
				</ul>
			</div>
			<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Paradise Taste of Dishes</a></h5>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
			<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-6">
	<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
		<div class="dz-media">
			<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic2.jpg" alt=""></a>
		</div>
		<div class="dz-info">
			<div class="dz-meta">
				<ul>
					<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 15 Feb 2023</a></li>
					<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 1.5K</a></li>
				</ul>
			</div>
			<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Taste of Paradise Dishes</a></h5>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
			<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-12">
	<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
		<div class="dz-media w-100">
			<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic3.jpg" alt=""></a>
		</div>
		<div class="dz-info">
			<div class="dz-meta">
				<ul>
					<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 10 Dec 2023</a></li>
					<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 1.5K</a></li>
				</ul>
			</div>
			<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Everyday Pasta</a></h5>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
			<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
		</div>
	</div>
</div>