@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr2.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Blog List Right Sidebar</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Blog List Right Sidebar</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Blog Section -->
	<section class="content-inner">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 m-b30">
					<div class="row loadmore-content">
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic1.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Paradise Taste of Dishes</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic2.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 7 Mar 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Taste of Paradise Dishes</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic3.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">The Fork & Knife</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic4.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 9 Feb 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.2K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Flavors Of The World</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic5.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 15 Jan 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.0K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Paradise Taste of Dishes</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12">
							<div class="dz-card style-1 blog-half overlay-shine dz-img-effect zoom m-b30">
								<div class="dz-media">
									<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid/pic6.jpg" alt="/"></a>
								</div>
								<div class="dz-info">
									<div class="dz-meta">
										<ul>
											<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 20 Dec 2023</a></li>
											<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.7K</a></li>
										</ul>
									</div>
									<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Tabletop Treats Cheese</a></h5>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
									<div class="read-btn">
										<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center m-t10">
						<a class="btn btn-primary dz-load-more btn-hover-2" href="javascript:void(0);" rel="/BLeaf/AjaxBlogListSidebar">Load More</a>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<aside class="side-bar sticky-top">
						<div class="widget">
							<div class="widget-title">
								<h4 class="title">Search</h4>
							</div>
							<div class="search-bx">
								<form role="search" method="post">
									<div class="input-group">
										<div class="input-side">
											<input name="text" class="form-control" placeholder="Search" type="text">
											<div class="input-group-btn">
												<button type="submit" class="btn btn-primary">
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M9.58366 17.5001C13.9559 17.5001 17.5003 13.9557 17.5003 9.58342C17.5003 5.21116 13.9559 1.66675 9.58366 1.66675C5.21141 1.66675 1.66699 5.21116 1.66699 9.58342C1.66699 13.9557 5.21141 17.5001 9.58366 17.5001Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
														<path d="M18.3337 18.3334L16.667 16.6667" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													</svg>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="widget widget_categories">
							<div class="widget-title">
								<h4 class="title">Categories</h4>
							</div>
							<ul>
								<li class="cat-item"><a href="@Url.Action("BlogStandard","BLeaf")">Pepperoni Pizza</a></li>
								<li class="cat-item"><a href="@Url.Action("BlogStandard","BLeaf")">Apricot Chicken</a></li>
								<li class="cat-item"><a href="@Url.Action("BlogStandard","BLeaf")">Pizza Veronese</a></li>
								<li class="cat-item"><a href="@Url.Action("BlogStandard","BLeaf")">Summer Pizza</a></li>
								<li class="cat-item"><a href="@Url.Action("BlogStandard","BLeaf")">Italian Tuna</a></li>
							</ul>
						</div>

						<div class="widget recent-posts-entry">
							<div class="widget-title">
								<h4 class="title">Latest Post</h4>
							</div>
							<div class="widget-post-bx">
								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/bleaf/images/blog/recent-blog/pic1.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","BLeaf")">Explore the Food Taste</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														16 May, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														2.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/bleaf/images/blog/recent-blog/pic2.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","BLeaf")">Secrets of Delicious Food</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														10 Dec, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														1.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/bleaf/images/blog/recent-blog/pic3.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","BLeaf")"> Inspiration for Food</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														20 Jan, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														3.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="widget widget_tag_cloud mb-3">
							<div class="widget-title">
								<h4 class="title">Popular Tags</h4>
							</div>
							<div class="tagcloud">
								<a href="@Url.Action("ProductDetail","BLeaf")">Pizza</a>
								<a href="@Url.Action("ProductDetail","BLeaf")">Chicken</a>
								<a href="@Url.Action("ProductDetail","BLeaf")">Pizza Veronese</a>
								<a href="@Url.Action("ProductDetail","BLeaf")">Burger</a>
								<a href="@Url.Action("ProductDetail","BLeaf")">Sandwich</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}