@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Blog Grid 3 Masonry</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Blog Grid 3 Masonry</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Blog Section -->
	<section class="content-inner">
		<div class="container clearfix">
			<div id="masonry" class="row" data-masonry='{"percentPosition": true}'>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic1.jpg" alt="/"></a>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K </a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Paradise Taste of Dishes</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 m-b30">
						<div class="service2-swiper swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic1.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic2.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic3.jpg" alt=""></div>
							</div>
							<div class="swiper-pagination style-1"></div>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 10 Mar 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 1.0K </a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">The Fork & Knife</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-3 m-b30" style="background-image: url(../bleaf/images/blog/large/pic1.jpg)">
						<div class="dz-info">
							<h4 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")" class="text-white">Exploring the World of Pizza</a></h4>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<blockquote class="wp-block-quote mt-0 m-b30">
						<p>Create An Information That’s Easy To Use Usability Considerations For Partially</p>
						<cite>Ronald M. Spino</cite>
					</blockquote>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic4.jpg" alt="/"></a>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 09 Jan 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 3.5K</a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Flavors Of The World</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 m-b30">
						<div class="service-swiper swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic1.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic4.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic3.jpg" alt=""></div>
							</div>
							<div class="swiper-pagination style-1"></div>
							<div class="service-button-prev btn-prev rounded-xl"><i class="icon-arrow-left"></i></div>
							<div class="service-button-next btn-next rounded-xl"><i class="icon-arrow-right"></i></div>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 20 Nov 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 4.0K</a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Tabletop Treats Cheese</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic6.jpg" alt="/"></a>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 05 Dec 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 5.5K</a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Enchanting Dishes That Will Transport You to Food Heaven</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have. </p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 m-b30">
						<div class="post-swiper swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic5.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic4.jpg" alt=""></div>
								<div class="swiper-slide"><img src="~/bleaf/images/blog/grid3/pic6.jpg" alt=""></div>
							</div>
							<div class="menu-button-prev btn-prev rounded-xl"><i class="icon-arrow-left"></i></div>
							<div class="menu-button-next btn-next rounded-xl"><i class="icon-arrow-right"></i></div>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 16 Mar 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 1.5K</a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">The Hungry Hunter</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-1 m-b30">
						<div class="dz-media w-100">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic1.jpg" alt="/"></a>
							<a class="video style-1 video-btn popup-youtube" href="https://www.youtube.com/watch?v=XJb1G9iRoL4">
								<i class="fa-solid fa-play"></i>
							</a>
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
									<li class="dz-comment"><a href="javascript:void(0);"><i class="flaticon-chat-bubble"></i> 2.5K</a></li>
								</ul>
							</div>
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Paradise Taste of Dishes</a></h5>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
							<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
						</div>
					</div>
				</div>
				<div class="card-container col-lg-4 col-md-6">
					<div class="dz-card style-2 overlay-shine dz-img-effect zoom m-b30">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid3/pic2.jpg" alt="/"></a>
						</div>
						<div class="dz-info bg-white">
							<h5 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Taste Excitement</a></h5>
							<div class="dz-meta">
								<ul>
									<li class="dz-user">
										<a href="javascript:void(0);">
											<i class="fa-solid fa-user"></i>
											By <span>KK Sharma</span>
										</a>
									</li>
									<li class="dz-comment">
										<a href="javascript:void(0);">
											<i class="fa-solid fa-message"></i>
											24 Comments
										</a>
									</li>
								</ul>
							</div>
							<p class="mb-0">Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/masonry/masonry-4.2.2.js"></script><!-- MASONRY -->
	<script src="~/bleaf/vendor/masonry/isotope.pkgd.min.js"></script><!-- ISOTOPE -->
	<script src="~/bleaf/vendor/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER BUNDLE -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}