@using BLeaf.ViewModels
@model BLeafViewModel
@{
	Layout = "~/Views/Shared/_LayoutBLeafIndex.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner -->
	<div class="main-bnr-three overflow-hidden top-space">
		<div class="swiper-bnr-pagination left-align">
			<div class="main-button-prev"><i class="icon-arrow-up"></i></div>
			<div class="main-swiper3-pagination"></div>
			<div class="main-button-next"><i class="icon-arrow-down"></i></div>
		</div>
		<div class="main-slider-3">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="banner-inner overflow-hidden" data-swiper-parallax="-10" data-swiper-parallax-duration="0.5" style="background-image:url('bleaf/images/main-slider/slider2/bg1.jpg'); background-size:cover;">
						<div class="container">
							<div class="row align-items-center" data-swiper-parallax="-100">
								<div class="col-xl-7 col-lg-7 col-md-8">
									<div class="banner-content">
										<span class="sub-title text-primary">High Quality Test Station </span>
										<h1 class="title text-white">Spice up your life with authentic Sri Lankan cuisine </h1>
										<p class="bnr-text">Discover the vibrant spices and rich traditions of Sri Lankan cuisine, crafted with passion and authenticity.</p>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-4">
									<div class="banner-media">
										<img src="~/bleaf/images/main-slider/slider2/pic1.png" alt="/" data-swiper-parallax-scale="0.8">
									</div>
								</div>
							</div>
						</div>
						<img class="leaf" src="~/bleaf/images/main-slider/slider2/pic4.png" alt="/">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="banner-inner overflow-hidden" data-swiper-parallax="-10" data-swiper-parallax-duration="0.5" style="background-image:url('bleaf/images/main-slider/slider2/bg2.jpg'); background-size:cover;">
						<div class="container">
							<div class="row align-items-center" data-swiper-parallax="-100">
								<div class="col-xl-7 col-lg-7 col-md-8">
									<div class="banner-content">
										<span class="sub-title text-primary">Taste the tradition of Sri Lanka</span>
										<h1 class="title text-white">Authentic flavors, unforgettable moments </h1>
										<p class="bnr-text">Embark on a culinary journey to Sri Lanka, where every dish tells a story of tradition and flavor.</p>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-4">
									<div class="banner-media">
										<img src="~/bleaf/images/main-slider/slider2/pic2.png" alt="/" data-swiper-parallax-scale="0.8">
									</div>
								</div>
							</div>
						</div>
						<img class="leaf" src="~/bleaf/images/main-slider/slider2/pic4.png" alt="/">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="banner-inner overflow-hidden" data-swiper-parallax="-10" data-swiper-parallax-duration="0.5" style="background-image:url('bleaf/images/main-slider/slider2/bg3.jpg'); background-size:cover;">
						<div class="container">
							<div class="row align-items-center" data-swiper-parallax="-100">
								<div class="col-xl-7 col-lg-7 col-md-8">
									<div class="banner-content">
										<span class="sub-title text-primary">Exploring the Delicious World</span>
										<h1 class="title text-white">Where tradition meets taste</h1>
										<p class="bnr-text ow fadeInUp">Indulge in the exotic flavors of Sri Lanka, where every meal is a celebration of culture and taste.</p>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-4">
									<div class="banner-media">
										<img src="~/bleaf/images/main-slider/slider2/pic3.png" alt="/" data-swiper-parallax-scale="0.8">
									</div>
								</div>
							</div>
						</div>
						<img class="leaf" src="~/bleaf/images/main-slider/slider2/pic4.png" alt="/">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Banner-->
	<!-- Icon Wrapper-2 -->
	<section class="content-inner bg-white">
		<div class="container">
			<div class="row icon-wrapper2 gx-lg-5">
				<div class="col-lg-4 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.2s">
					<div class="icon-bx-wraper style-2">
						<div class="icon-bx radius">
							<span class="icon-cell">
								<i class="flaticon-offer"></i>
							</span>
						</div>
						<div class="icon-content">
							<h5 class="dz-title"><a href="@Url.Action("Services","BLeaf")">Discount Voucher</a></h5>
							<p>lorem ipsum dolor shit amet lorem ipsum</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s">
					<div class="icon-bx-wraper style-2">
						<div class="icon-bx radius">
							<span class="icon-cell">
								<i class="flaticon-hamburger"></i>
							</span>
						</div>
						<div class="icon-content">
							<h5 class="dz-title"><a href="@Url.Action("Services","BLeaf")">Fresh Healthy Food</a></h5>
							<p>lorem ipsum dolor shit amet lorem ipsum</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s">
					<div class="icon-bx-wraper style-2">
						<div class="icon-bx radius">
							<span class="icon-cell">
								<i class="flaticon-room-service"></i>
							</span>
						</div>
						<div class="icon-content">
							<h5 class="dz-title"><a href="@Url.Action("Services","BLeaf")">Fast Serve On Table</a></h5>
							<p>lorem ipsum dolor shit amet lorem ipsum</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Icon Wrapper 2 -->
	<!--Today's Special-->
	<section class="section-wrapper-5 content-inner overflow-hidden bg-parallax" style="background-image:url('bleaf/images/background/pic1.png'); background-attachment: fixed;">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title text-white wow flipInX" data-wow-delay="0.2s" data-wow-delay="2s">Weekly Special</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
					<div class="dz-img-box style-5">
						<div class="dz-content">
							<div class="weight">
								<span>This Saturday</span>
								<span></span>
							</div>
							<div class="price">
								<h6>Rice and Curry</h6>
								<h6 class="text-primary">$24.00</h6>
							</div>
						</div>
						<div class="dz-media">
							<img src="~/bleaf/images/gallery/grid3/pic1.jpg" alt="/">
							<a class="detail-btn" href="@Url.Action("OurMenu1","BLeaf")"><i class="fa-solid fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="dz-img-box style-5">
						<div class="dz-content">
							<div class="weight">
								<span>This Saturday</span>
								<span></span>
							</div>
							<div class="price">
								<h6>Rice & Curry</h6>
								<h6 class="text-primary">$24.00</h6>
							</div>
						</div>
						<div class="dz-media">
							<img src="~/bleaf/images/gallery/grid3/pic2.jpg" alt="/">
							<a class="detail-btn" href="@Url.Action("OurMenu1","BLeaf")"><i class="fa-solid fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
					<div class="dz-img-box style-5">
						<div class="dz-content">
							<div class="weight">
								<span>This Sunday</span>
								<span></span>
							</div>
							<div class="price">
								<h6>LumpRice</h6>
								<h6 class="text-primary">$24.00</h6>
							</div>
						</div>
						<div class="dz-media">
							<img src="~/bleaf/images/gallery/grid3/pic3.jpg" alt="/">
							<a class="detail-btn" href="@Url.Action("OurMenu1","BLeaf")"><i class="fa-solid fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.10s">
					<div class="dz-img-box style-5">
						<div class="dz-content">
							<div class="weight">
								<span>Today</span>
								<span></span>
							</div>
							<div class="price">
								<h6>Rice & Curry</h6>
								<h6 class="text-primary">$24.00</h6>
							</div>
						</div>
						<div class="dz-media">
							<img src="~/bleaf/images/gallery/grid3/pic4.jpg" alt="/">
							<a class="detail-btn" href="@Url.Action("OurMenu1","BLeaf")"><i class="fa-solid fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Today's Special-->
	<!-- Our Menu-->
	<section class="content-inner-1">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title wow flipInX" data-wow-delay="0.2s" data-wow-delay="2s">Our Menu</h2>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center wow fadeInUp" data-wow-delay="0.4s">
					<div class="site-filters style-2 clearfix">
						<ul class="filters" data-bs-toggle="buttons">
							<li data-filter=".all" class="btn active"><a href="javascript:void(0);"><span><i class="flaticon-fast-food"></i></span>All</a></li>
							@foreach (var category in Model.Categories)
							{
								var normalizedCategoryName = category.Name.Replace(" ", "-").ToLower();
								<li data-filter=".@normalizedCategoryName" class="btn"><a href="javascript:void(0);"><span><i class="flaticon-fast-food"></i></span>@category.Name.ToUpper()</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<ul id="masonry" class="row dlab-gallery-listing gallery">
					@foreach (var item in Model.Items)
					{
						var normalizedCategoryName = item.Category.Name.Replace(" ", "-").ToLower();
						<li class="card-container col-lg-6 col-md-6 m-b5 all @normalizedCategoryName">
							<div class="dz-img-box style-6 wow fadeInUp" data-wow-delay="0.4s">
								<div class="dz-media">
									<img src="@item.ImageThumbnailUrl" alt="@item.Name" loading="lazy">
								</div>
								<div class="dz-content">
									<div class="dz-head">
										<span class="header-text"><a href="@Url.Action("OurMenu3","BLeaf")">@item.Name</a></span>
										<span class="img-line"></span>
										<span class="header-price">@item.Price</span>
									</div>
									<p class="dz-body">@item.Description</p>
								</div>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</section>
	<!-- Our Menu-->
	<!-- Team Section 1 -->
	<section class="section-wrapper-4 content-inner overflow-hidden bg-parallax" style="background-image:url('bleaf/images/background/pic10.png'); background-attachment: fixed;">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title wow flipInX" data-wow-delay="0.2s">Meet The Team</h2>
			</div>
			<div class="swiper team-swiper swiper-btn-lr swiper-visible">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="dz-team style-1 m-b30 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<img src="~/bleaf/images/team/pic1.jpg" alt="/">
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Dihan Predeep</a></h6>
									<span class="dz-position">Chef/Owner</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
										<ul class="sub-team-social">
											<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-team style-1 m-b30 wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<img src="~/bleaf/images/team/pic2.jpg" alt="/">
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Kanjula Gunathilaka</a></h6>
									<span class="dz-position">Senior Chef</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
										<ul class="sub-team-social">
											<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-team style-1 m-b30 wow fadeInUp" data-wow-delay="0.8s">
							<div class="dz-media">
								<img src="~/bleaf/images/team/pic3.jpg" alt="/">
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Sameera Sakalasooriya</a></h6>
									<span class="dz-position">Chef</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
										<ul class="sub-team-social">
											<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-team style-1 m-b30 wow fadeInUp" data-wow-delay="0.10s">
							<div class="dz-media">
								<img src="~/bleaf/images/team/pic4.jpg" alt="/">
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Tharindu Perera</a></h6>
									<span class="dz-position">Senior Chef</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
										<ul class="sub-team-social">
											<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-team style-1 m-b30 wow fadeInUp" data-wow-delay="0.12s">
							<div class="dz-media">
								<img src="~/bleaf/images/team/pic4.jpg" alt="/">
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">John Doe</a></h6>
									<span class="dz-position">Cashier</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
										<ul class="sub-team-social">
											<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination">
					<div class="team-button-prev btn-prev rounded-xl btn-hover-2"><i class="fa-solid fa-arrow-left"></i></div>
					<div class="team-button-next btn-next rounded-xl btn-hover-2"><i class="fa-solid fa-arrow-right"></i></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team Section 1 -->
	<!-- Our Blog  -->
	<section class="content-inner overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-12">
					<div class="section-head">
						<h2 class="title wow flipInX" data-wow-delay="0.2s">Recent News & Updates</h2>
					</div>
					<div class="dz-card style-2 blog-half wow fadeInUp m-b30" data-wow-delay="0.4s">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid2/king_coconut_drink.jpg" alt="/"></a>
						</div>
						<div class="dz-info">
							<h4 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Chill Out with These Unique Refreshing Drinks</a></h4>
							<div class="btn-wrapper p-t10">
								<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
							</div>
						</div>
					</div>
					<div class="dz-card style-2 blog-half wow fadeInUp m-b30" data-wow-delay="0.6s">
						<div class="dz-media">
							<a href="@Url.Action("BlogStandard","BLeaf")"><img src="~/bleaf/images/blog/grid2/chicken_koththu_home.jpg" alt="/"></a>
						</div>
						<div class="dz-info">
							<h4 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")">Taste Excitement: A Sneak Peek into Sri Lankan Authentic Cuisine</a></h4>
							<div class="btn-wrapper p-t10">
								<a href="@Url.Action("BlogStandard","BLeaf")" class="btn btn-primary btn-hover-2">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-12 m-b30 wow fadeInUp" data-wow-delay="0.4s">
					<div class="dz-card style-3 dz-card-large" style="background-image: url(bleaf/images/blog/large/pic1.jpg)">
						<video autoplay loop muted>
							<source src="~/bleaf/video/video.mp4" type="video/mp4">
						</video>
						<div class="dz-info">
							<h3 class="dz-title"><a href="@Url.Action("BlogStandard","BLeaf")" class="text-white">Exploring the World of Rice</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Our Blog End  -->

</div>
