@using BLeaf.ViewModels
@model BLeafViewModel
@{
    Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr3.jpg'); background-size:cover; background-position:center;">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Our Menu 3</h1>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Menu 3</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Our Menu-->
    <section class="content-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-12">
                    <div class="site-filters style-1 clearfix">
                        <ul class="filters" data-bs-toggle="buttons">
                            <li data-filter=".all" class="btn active"><a href="javascript:void(0);"><span><i class="flaticon-fast-food"></i></span>ALL</a></li>
                            @foreach (var category in Model.Categories)
                            {
                                var normalizedCategoryName = category.Name.Replace(" ", "-").ToLower();
                                <li data-filter=".@normalizedCategoryName" class="btn"><a href="javascript:void(0);"><span><i class="flaticon-fast-food"></i></span>@category.Name.ToUpper()</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-12 text-lg-end mb-lg-0 m-b30 d-flex d-lg-block align-items-center justify-content-between">
                    <strong class="filter-item-show d-lg-none">@Model.Items.Count() items</strong>
                    <a data-bs-toggle="offcanvas" href="#offcanvasFilter" role="button" aria-controls="offcanvasFilter" class="btn btn-primary filter-btn btn-hover-2">
                        Filter <span><i class="icon-filter m-l5"></i></span>
                    </a>
                </div>
                <div class="offcanvas offcanvas-end filter-category-sidebar" tabindex="-1" id="offcanvasFilter">
                    <button type="button" class="btn-close style-1" data-bs-dismiss="offcanvas" aria-label="Close"><i class="la la-close"></i></button>
                    <div class="offcanvas-body">
                        <div class="widget">
                            <div class="widget-title">
                                <h4 class="title">Refine By Categories</h4>
                            </div>
                            <div class="category-check-list">
                                @foreach (var category in Model.Categories)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox-@category.CategoryId">
                                        <label class="form-check-label" for="productCheckBox-@category.CategoryId">
                                            @category.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="widget rating-filter">
                            <div class="widget-title">
                                <h4 class="title">Rating</h4>
                            </div>
                            <ul>
                                <li><span>5 Star</span></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                            </ul>
                            <ul>
                                <li><span>4 Star</span></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                            </ul>
                            <ul>
                                <li><span>3 Star</span></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                            </ul>
                            <ul>
                                <li><span>2 Star</span></li>
                                <li><i class="icon-star-on"></i></li>
                                <li><i class="icon-star-on"></i></li>
                            </ul>
                            <ul>
                                <li><span>1 Star</span></li>
                                <li><i class="icon-star-on"></i></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h4 class="title">Price Range</h4>
                            </div>
                            <div class="range-slider style-1">
                                <div id="slider-tooltips"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="masonry" class="row">
                @foreach (var item in Model.Items)
                {
                    var normalizedCategoryName = item.Category.Name.Replace(" ", "-").ToLower();
                    <li class="card-container col-lg-4 col-md-6 m-b30 all @normalizedCategoryName">
                        <div class="dz-img-box style-7">
                            <div class="dz-media">
                                <img src="@item.ImageUrl" alt="@item.Name">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="seller">Top Seller</li>
                                        <li class="rating"><i class="fa-solid fa-star"></i> 4.5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dz-content">
                                <h5 class="title"><a href="@Url.Action("ProductDetail","BLeaf")">@item.Name</a></h5>
                                <p>@item.Description</p>
                                <span class="price">@item.Price</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
    <!-- Our Menu-->
</div>

@section bleaf_style
{
    <!-- Stylesheet -->
    <link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/bleaf/vendor/nouislider/nouislider.min.css">
}
@section bleaf_script
{
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT -->
    <script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
    <script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="~/bleaf/vendor/masonry/masonry-4.2.2.js"></script><!-- MASONRY -->
    <script src="~/bleaf/vendor/masonry/isotope.pkgd.min.js"></script><!-- ISOTOPE -->
    <script src="~/bleaf/vendor/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
    <script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
    <script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
    <script src="~/bleaf/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
    <script src="~/bleaf/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
    <script src="~/bleaf/vendor/particles/particles.js"></script>
    <script src="~/bleaf/vendor/particles/particles-app.js"></script>
    <script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
    <script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
    <script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}