@using BLeaf.ViewModels
@model ItemDetailsViewModel

@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Product Detail</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Product Detail</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Product Detail Section -->
	<section class="content-inner-1 overflow-hidden">
		<div class="container">
			<div class="row product-detail">
				<div class="col-lg-4 col-md-5">
					<div class="detail-media m-b30">
						<img src="~/bleaf/images/modal/pic1.jpg" alt="/">
					</div>
				</div>
				<div class="col-lg-8 col-md-7">
					<div class="detail-info">
						<span class="badge">
							<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
								<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
							</svg>
							Pure veg
						</span>
						<div class="dz-head">
							<h2 class="title">@Model.Item.Name</h2>
							<div class="rating">
								<i class="fa-solid fa-star"></i> <span><strong class="text-dark">4.5</strong> - 20 Reviews</span>
							</div>
						</div>
						<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<ul class="detail-list">
							<li>Price <span class="text-primary m-t5">$20.00</span></li>
							<li>
								Quantity
								<div class="btn-quantity style-1 m-t5">
									<input id="demo_vertical2" type="text" value="1" name="demo_vertical2">
								</div>
							</li>
						</ul>
						<h6 class="title">Add On</h6>
						<ul class="add-product">
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/bleaf/images/modal/mini/pic1.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">French Frise</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/bleaf/images/modal/mini/pic2.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Extra Cheese</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/bleaf/images/modal/mini/pic3.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Coca Cola</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/bleaf/images/modal/mini/pic4.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Choco Lava</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="d-lg-flex justify-content-between">
							<ul class="modal-btn-group">
								<li><a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-1"><span>Add To Cart <i class="flaticon-shopping-bag-1 m-l10"></i></span></a></li>
								<li><a href="@Url.Action("ShopCheckout","BLeaf")" class="btn btn-outline-secondary btn-hover-1"><span>Buy Now <i class="flaticon-shopping-cart m-l10"></i></a></span></li>
							</ul>
							<ul class="avatar-list avatar-list-stacked">
								<li class="avatar"><img src="~/bleaf/images/testimonial/small/pic1.jpg" alt=""></li>
								<li class="avatar"><img src="~/bleaf/images/testimonial/small/pic2.jpg" alt=""></li>
								<li class="avatar"><img src="~/bleaf/images/testimonial/small/pic3.jpg" alt=""></li>
								<li class="avatar"><img src="~/bleaf/images/testimonial/small/pic4.jpg" alt=""></li>
								<li class="avatar"><img src="~/bleaf/images/testimonial/small/pic5.jpg" alt=""></li>
								<li class="avatar"><span>150+</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="content-inner pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs tabs-style-1">
						<li class="nav-item">
							<button class="nav-link active" data-bs-toggle="tab" href="#web-design-1">
								<i class="icon-globe"></i>
								<span class="d-none d-md-inline-block m-l10">Description</span>
							</button>
						</li>
						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab" href="#graphic-design-1">
								<i class="icon-image"></i>
								<span class="d-none d-md-inline-block m-l10">Additional Information</span>
							</button>
						</li>
						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab" href="#developement-1">
								<i class="icon-settings"></i>
								<span class="d-none d-md-inline-block m-l10">Product Review</span>
							</button>
						</li>
					</ul>
					<div class="tab-content">
						<div id="web-design-1" class="tab-pane active">
							<p class="m-b10">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't hidden in the middle of text.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							<ul class="list-check primary">
								<li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and </li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </li>
							</ul>
						</div>
						<div id="graphic-design-1" class="tab-pane">
							<table class="table-bordered check-tbl">
								<tr>
									<td>Cheese Burger</td>
									<td>Small, Medium & Large</td>
								</tr>
								<tr>
									<td>Toppings</td>
									<td>Onion, Tomato, Olives</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>
										<span class="rating-bx">
											<i class="fas fa-star text-secondary"></i>
											<i class="fas fa-star text-secondary"></i>
											<i class="fas fa-star text-secondary"></i>
											<i class="fas fa-star text-secondary"></i>
											<i class="far fa-star text-secondary"></i>
										</span>
									</td>
								</tr>
								<tr>
									<td>Shipping Charges</td>
									<td>Free Shipping</td>
								</tr>
								<tr>
									<td>Add More</td>
									<td>Coke, Cheese, Choco lava</td>
								</tr>
								<tr>
									<td>Delivery Time</td>
									<td>30 mins</td>
								</tr>
							</table>
						</div>
						<div id="developement-1" class="tab-pane">
							<div class="comments-area" id="comments">
								<ul class="comment-list">
									<li class="comment">
										<div class="comment-body">
											<div class="comment-author vcard">
												<img class="avatar photo" src="~/bleaf/images/testimonial/mini/pic1.jpg" alt="/">
												<cite class="fn">Monsur Rahman Lito</cite>
											</div>
											<div class="star-rating" data-rating="2">
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										</div>
										<!-- list END -->
									</li>
									<li class="comment">
										<div class="comment-body">
											<div class="comment-author vcard">
												<img class="avatar photo" src="~/bleaf/images/testimonial/mini/pic2.jpg" alt="/">
												<cite class="fn">Jake Johnson</cite>
											</div>
											<div class="star-rating" data-rating="3">
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										</div>
									</li>
									<li class="comment">
										<div class="comment-body">
											<div class="comment-author vcard">
												<img class="avatar photo" src="~/bleaf/images/testimonial/mini/pic3.jpg" alt="/">
												<cite class="fn">John Doe</cite>
											</div>
											<div class="star-rating" data-rating="4">
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="fas fa-star text-secondary"></i>
												<i class="far fa-star text-secondary"></i>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="comment-respond style-1" id="respond">
								<h3 class="comment-reply-title mb-4" id="reply-title">Add a review</h3>
								<form class="comment-form" id="commentform" method="post">
									<p class="comment-form-author">
										<label for="author">Name <span class="required">*</span></label>
										<input type="text" name="dzName" placeholder="Author" id="author">
									</p>
									<p class="comment-form-email">
										<label for="email">Email <span class="required">*</span></label>
										<input type="text" placeholder="Email" name="dzEmail" id="email">
									</p>
									<div class="comment-form-rating d-flex p-lr10">
										<label class="pull-left m-r10 m-b20">Your Rating</label>
										<div class="rating-widget">
											<!-- Rating Stars Box -->
											<div class="rating-stars">
												<ul id="stars">
													<li class="star" title="Poor" data-value="1">
														<i class="fas fa-star fa-fw"></i>
													</li>
													<li class="star" title="Fair" data-value="2">
														<i class="fas fa-star fa-fw"></i>
													</li>
													<li class="star" title="Good" data-value="3">
														<i class="fas fa-star fa-fw"></i>
													</li>
													<li class="star" title="Excellent" data-value="4">
														<i class="fas fa-star fa-fw"></i>
													</li>
													<li class="star" title="WOW!!!" data-value="5">
														<i class="fas fa-star fa-fw"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<p class="comment-form-comment">
										<label for="comment">Comment</label>
										<textarea rows="10" name="comment" placeholder="Type Review Here" id="comment"></textarea>
									</p>
									<p class="form-submit">
										<button type="submit" class="btn btn-primary btn-hover-2" id="submit">Submit Now</button>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="content-inner-1 pt-0">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">Special Menu</h2>
			</div>
			<div class="swiper-btn-lr">
				<div class="swiper portfolio-swiper">
					<div class="swiper-wrapper p-b5">
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic1.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Pizza</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$55.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic2.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Rice</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$50.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic3.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Green Salad</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$45.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic4.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Pasta</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$35.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic1.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Pizza</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$55.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic2.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Rice</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$50.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic3.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Green Salad</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$45.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-img-box style-2">
								<div class="dz-media">
									<img src="~/bleaf/images/gallery/small/pic4.jpg" alt="/">
								</div>
								<div class="dz-content">
									<h4 class="dz-title"><a href="@Url.Action("ProductDetail","BLeaf")">Pasta</a></h4>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
									<h5 class="dz-price text-primary">$35.00</h5>
									<a href="@Url.Action("ShopCart","BLeaf")" class="btn btn-primary btn-hover-2"> Add To Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination mt-xl-0 m-t40">
					<div class="img-button-prev btn-prev-long"><i class="fa-solid fa-arrow-left"></i></div>
					<div class="img-button-next btn-next-long"><i class="fa-solid fa-arrow-right"></i></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Detail Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	<script src="~/bleaf/js/jquery.star-rating-svg.js"></script><!-- Star Rating JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}