@model BLeaf.ViewModels.ItemDetailsViewModel

@{
    Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
    var shopCartUrl = Url.Action("ShopCart", "BLeaf");
    var checkoutUrl = Url.Action("ShopCheckout", "BLeaf");
}

<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center;  max-height: 200px; height: 100vh;">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Product Detail</h1>
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Product Detail Section -->
    <section class="content-inner-1 overflow-hidden">
        <div class="container">
            <div class="row product-detail">
                <div class="col-lg-4 col-md-5">
                    <div class="dz-img-box style-8">
                        <img src="@Model.Item.ImageUrl" alt="@Model.Item.Name" class="responsive-img" style="max-height: 450px">
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="detail-info">
                        <div class="dz-head">
                            <h2 class="title">@Model.Item.Name</h2>
                        </div>
                        <p class="text">@Model.Item.Description</p>
                        <ul class="detail-list">
                            <li>Price <span class="text-primary m-t5">$@Model.Item.Price</span></li>
                            <li>
                                Quantity
                                <div class="btn-quantity style-1 m-t5 input-group">
                                    <input id="quantity_@Model.Item.ItemId" type="number" value="1" name="quantity" min="1" max="100" class="form-control text-center">
                                </div>
                            </li>
                        </ul>
                        <div class="d-lg-flex justify-content-between">
                            <ul class="modal-btn-group">
                                <li>
                                    <button class="btn btn-primary btn-hover-1 add-to-cart" data-item-id="@Model.Item.ItemId" data-user-id="@Model.UserId" data-shop-cart-url="@shopCartUrl">
                                        <span>Add To Cart <i class="flaticon-shopping-bag-1 m-l10"></i></span>
                                    </button>
                                    <!-- Hidden input for itemId -->
                                    <input type="hidden" id="itemId" value="@Model.Item.ItemId">
                                </li>
                                <li>
                                    <button class="btn btn-outline-secondary btn-hover-1 btn-buy-now" data-item-id="@Model.Item.ItemId" data-user-id="@Model.UserId" data-checkout-url="@checkoutUrl">
                                        <span>Buy Now <i class="flaticon-shopping-cart m-l10"></i></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="cartMessage" class="alert" style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="content-inner pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs tabs-style-1">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" href="#web-design-1">
                                <i class="icon-globe"></i>
                                <span class="d-none d-md-inline-block m-l10">Ingredients</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" href="#graphic-design-1">
                                <i class="icon-image"></i>
                                <span class="d-none d-md-inline-block m-l10">Additional Information</span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="web-design-1" class="tab-pane active">
                            <p class="m-b10">@Model.Item.Ingredients</p>
                        </div>
                        <div id="graphic-design-1" class="tab-pane">
                            <p class="m-b10">@Model.Item.SpecialInformation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Detail Section -->
</div>

@section bleaf_style
{
    <!-- Stylesheet -->
    <link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
{
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT -->
    <script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
    <script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
    <script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
    <script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/vendor/particles/particles.js"></script>
    <script src="~/bleaf/vendor/particles/particles-app.js"></script>
    <script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
    <script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
    <script src="~/bleaf/js/jquery.star-rating-svg.js"></script><!-- Star Rating JS -->
    <script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
    <script src="~/bleaf/js/manageCart.js"></script><!-- Custom Cart JS -->
}