@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr4.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Shop Cart</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Cart Section -->
	<section class="content-inner-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="title m-b15 m-lg-30">Related Products</h5>
						<a href="javascript:void(0);" class="btn btn-primary panel-btn">Filter</a>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic1.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Double Patty Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 30 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$10.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic2.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Double Chicken Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 45 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$20.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic3.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Aloo Tikki Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 20 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$12.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic4.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Pure Veg Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 40 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$35.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic1.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Aloo Wrap Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 25 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$16.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic2.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="@Url.Action("ProductDetail","BLeaf")">Chicken Patty Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500">Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 60 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$52.00</span> For a one</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<aside class="side-bar sticky-top">
						<div class="shop-filter style-1">
							<div class="d-flex justify-content-between">
								<div class="widget-title">
									<h5 class="title m-b30">Cart <span class="text-primary">(03)</span></h5>
								</div>
								<a href="javascript:void(0);" class="panel-close-btn"><i class="fa-solid fa-xmark"></i></a>
							</div>
							<div class="cart-item style-1">
								<div class="dz-media">
									<img src="~/bleaf/images/shop/pic1.jpg" alt="/">
								</div>
								<div class="dz-content">
									<div class="dz-head">
										<h6 class="title mb-0">Double Patty Burger</h6>
										<a href="javascript:void(0);"><i class="fa-solid fa-xmark text-danger"></i></a>
									</div>
									<div class="dz-body">
										<div class="btn-quantity style-1">
											<input id="demo_vertical2" type="text" value="1" name="demo_vertical2">
										</div>
										<h5 class="price text-primary mb-0">$14.20</h5>
									</div>
								</div>
							</div>
							<div class="cart-item style-1">
								<div class="dz-media">
									<img src="~/bleaf/images/shop/pic2.jpg" alt="/">
								</div>
								<div class="dz-content">
									<div class="dz-head">
										<h6 class="title mb-0">All Combo</h6>
										<a href="javascript:void(0);"><i class="fa-solid fa-xmark text-danger"></i></a>
									</div>
									<div class="dz-body">
										<div class="btn-quantity style-1">
											<input id="demo_vertical3" type="text" value="1" name="demo_vertical2">
										</div>
										<h5 class="price text-primary mb-0">$50.20</h5>
									</div>
								</div>
							</div>
							<div class="cart-item style-1">
								<div class="dz-media">
									<img src="~/bleaf/images/shop/pic3.jpg" alt="/">
								</div>
								<div class="dz-content">
									<div class="dz-head">
										<h6 class="title mb-0">Veg And crispy Burger</h6>
										<a href="javascript:void(0);"><i class="fa-solid fa-xmark text-danger"></i></a>
									</div>
									<div class="dz-body">
										<div class="btn-quantity style-1">
											<input id="demo_vertical4" type="text" value="1" name="demo_vertical2">
										</div>
										<h5 class="price text-primary mb-0">$25.20</h5>
									</div>
								</div>
							</div>
							<div class="order-detail">
								<h6>Bill Details</h6>
								<table>
									<tbody>
										<tr>
											<td>Item Total</td>
											<td class="price text-primary">$55.00</td>
										</tr>
										<tr class="charges">
											<td>Delivery Charges</td>
											<td class="price text-primary">$5.00</td>
										</tr>
										<tr class="tax">
											<td>Govt Taxes & Other Charges</td>
											<td class="price text-primary">$3.50</td>
										</tr>
										<tr class="total">
											<td><h6>Total</h6></td>
											<td class="price text-primary">$63.50</td>
										</tr>
									</tbody>
								</table>
								<a href="@Url.Action("ShopCheckout","BLeaf")" class="btn btn-primary d-block text-center btn-md w-100 btn-hover-1"><span>Order Now <i class="fa-solid fa-arrow-right"></i></span></a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!-- cart Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}