@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr3.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Team</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Team</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Team Section -->
	<section class="content-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic1.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Sarah Albert</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic2.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Raiyan Kovin</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic3.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">John Doe</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic4.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Jemy Carline</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic5.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Cotlin Care</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic6.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="clearfix">
								<h6 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Stevin Mark</a></h6>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic7.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">John Doe</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic8.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Raiyan Kovin</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic9.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Jemy Carline</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic11.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">John Doe</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic12.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Martin Doe</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="dz-team style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/team/pic10.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div>
								<h5 class="dz-name"><a href="@Url.Action("TeamDetail","BLeaf")">Stevin Mark</a></h5>
								<span class="dz-position">Senior Chef</span>
							</div>
							<ul class="team-social">
								<li>
									<a class="share-btn" href="javascript:void(0);"><i class="flaticon-share"></i></a>
									<ul class="sub-team-social">
										<li><a class="fb-btn" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a class="tw-btn" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a class="in-btn" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a class="lin-btn" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}